body {
  padding-top: 70px;
}

.text-lg, .text-lg .fa {
  font-size: 1.3em;
}

.icon-login {
    display: block;
    width: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    padding: 5px 0 0 0;
    margin-right: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.icon-facebook {
    background-color: #3b5998;
}

.icon-google {
    background-color: #B0281A;
}

.rating-list {
  line-height: 1;

  display: inline-block;
  min-width: 10px;

  white-space: nowrap;
  font-size:0.8em;
  cursor: pointer;

}

h1 {
	margin-top: 0px;
}

.img-responsive {
	margin:0 auto;
}

#servicoList {
	overflow: hidden;
}

.star-rating{
	font-size: 1.1em;
}