{% extends 'base_site.html' %}
{% block content %}
    <div class="page-header">
      <h4>Categorias</h4>
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>Nome</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
      {% for item in itens %}
        <tr>
          <td>{{ item.nome }}</td>
          <td class="col-md-2">
              <a href="{% url 'categoria_editar' item.id %}" class="btn btn-sm btn-default"><i class="icon-edit" title="Alterar"></i> alterar</a>
              <a href="{% url 'categoria_excluir' item.id %}" class="btn btn-sm btn-default"><i class="icon-remove"title="Excluir"> excluir</i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'categoria_adicionar' %}">Adicionar</a>
{% endblock %}