{% block corpo %}
<table>
	<thead>
		<tr>
			<th>Descrição</th>
		</tr>
	</thead>
	<tbody>
	{% for item in itens %}
		<tr>
		<td>{{ item.descricao}}</td>
		<td>
			<a href="{% url 'categorias_editar' item.id %}" class="btn btn-small"><i class="icon-edit" title="Alterar"></i> alterar</a>
			<a href="{% url 'categorias_excluir' item.id %}" class="btn btn-small"><i class="icon-remove"title="Excluir"> excluir</i></a>
		</td>
		</tr>
	{% endfor %}
	</tbody>

<a href="adiciona">Adicionar</a>
</table>
{% endblock %}