{% extends 'base.html' %}

{% block main %}
 <div>
 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Nome: {{ user.get_full_name|default:user.username }}</a>
     </li>
     <li>
         Email: {{ user.email }}
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}     
       <a class="btn btn-block btn-social btn-facebook" 
          href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
          <i class="fa fa-facebook"></i>Login with Facebook
       </a>          
       <a class="btn btn-block btn-social btn-google-plus" 
          href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
          <i class="fa fa-google-plus"></i>Login with Google
       </a>   
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}