{% extends 'base.html' %}

{% block container %}
    <div class="container">

        <div class="page-header">
            <h4>Melhores <small>da semana</small></h4>
        </div>


        <div class="row">
            <div class="col-lg-12">
            <div class="list-group">
                {% for i in "123456" %}
                <a data-toggle="modal" href="#myModal" class="list-group-item media">
                    <img class="img-circle box-shad pull-left" src="/static/img/cafe.jpg">
                    <div class="rating-list">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading text-uppercase">Media heading</h6>
                        <span class="text-list col-xs-12">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </span>
                    </div>
                </a>

                {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}